<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.http.web.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <servlet-class>com.http.web.servlet.FileUpLoadServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/servlet/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <url-pattern>/servlet/FileUpLoadServlet</url-pattern>
  </servlet-mapping>

</web-app>